<div style="display:flex; gap: 5rem;">
  <div>
<div>
    <h1>Tu perfil (sin datos sensibles)</h1>
    <p>{{user.name}}</p>
    <p>{{user.email}}</p>
    <p>{{user.age}}</p>
    <a href="/api/sessions/logout"><button>Salir</button></a>
</div>
    <h1>Productos agregados</h1>
    <div id="container">

    </div>
  </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>